* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul,
ol {
    list-style: none;

}

a {
    text-decoration: none;
}

/*---Header---*/

.header {

    z-index: 2;
    position: absolute;
    position: sticky;
    top: 0px;
}

.header__titulo {
    position: absolute;
    z-index: -1;
}

/* ---Navbar--- */
.bg-verde{
    background-color: rgb(0, 80, 35);
    color: white;
}

.dropdown-item{
    background-color: rgba(0, 80, 35, 0.647);
    color: white;
}


.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 0.92);
}

.navbar-light .navbar-nav .nav-link:hover{
    transform:rotate(5deg)
}

/* ---Portada--- */
.portada {
    background-image: url(../imagenes/portada.jpg);
    background-size: cover;
    height: 100%;
}

.portada__logo:hover{
    transform: scale(1.05);
}

/* Titulo secciones */
.seccionTitulo{
    background-color: rgb(0, 80, 35);
    text-align: center;
    font-size: 1.4rem;
    color: black;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.seccionTitulo:hover{
    
    color: white;
}

/* ---Main--- */

/* ---Primeras tarjetas--- */
.card__titulo {
    background-color: rgb(0, 80, 35);
    text-align: center;
    font-size: 1.3rem;
    padding: 1px;
}

.card__texto {
    font-size: 0.8rem;
    text-align: center;
}

/* ---Tarjetas Adquirí--- */
.btn--productos{
    box-shadow: 5px 5px 8px rgb(0, 80, 35);
    color: rgb(0, 80, 35);
    border-bottom: 1px;
    border-radius: 20px;
    width: auto;
    padding: 2.5%;
    }
    
    .btn--productos:hover{
        background-color: rgb(0, 80, 35);
        color: white;
        box-shadow: 5px 5px 5px black;
    }
    
    .card{
    box-shadow: 10px 10px 20px rgb(0, 80, 35);
    border-radius: 10%;
    overflow: hidden;
    }

    .card:hover{
        transform: scale(1.02);
    }

/* ---Medios de pago--- */
.cardPago:hover{
transform: rotate(10deg);
}

/* ---Noticias--- */
.card-title{
    background-color: rgb(0, 80, 35);
}

/* ---footer--- */
.containerFooter{
    background-color: rgba(0, 80, 35, 0.803);
}

.bi{
    color: white;
    font-size: 1.2rem;
}


/* SECCIONES SIN APLICAR BOOTSTRAP */
/* ---Mantenimiento--- */

.mantenimiento__texto {
    border: 2px solid black;
    width: 550px;
    background-image: url(../imagenes/mantenimientofondo.jpg);
    background-size: cover;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.texto__color {
    background-color: rgba(0, 80, 35);
    color: white;
}

/* Cursos formulario */

.form__titulo {
    background-color: rgba(0, 80, 35);
    padding-left: 10px;
}

.form {
    border: 1px;
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/mantenimientofondo.jpg);
    background-size: cover;
}

.formcaja {
    margin: 7px;
}

/* Educación */
.tarjvideos {
    border: 2px solid green;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 30px;
}