.fondo-terrarios{
    background-color: rgba(144, 238, 144, 0.278);
}

.fondo-lamparas{
    background-color: rgba(233, 150, 122, 0.237);
    padding: 20px;
}

.carousel-modificado{
    border-radius: 50px;
    overflow: hidden;
    border: solid $color-marca 2px;
}